* {
    text-align: justify;
    color: white;
}
/* styles for header section */
ul {
    list-style-type:none;
}
.topnav {
    background-image: url("spqr.png");
    background-size: 250px 150px;
    background-position-x: 45ch;
    overflow: hidden;

}
.nav-list {
    font-family: Arial, Helvetica, sans-serif;;
}
h3.topnav {
    margin-left: 3%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #F9B742;
}
hr.nav-divider {
    border: none;
    margin-bottom: 0%;
    color: #fff;
}
/* styles for main content */
main {
    background-size: cover;
    height: 100%;
    background-color: #940404;
    border: none;
    margin-bottom: -1.1%;
    margin-top: 0%;
    margin-block-end: 0ch;
    padding: 5ch;
}
img.img-me {
    height: 200px;
    border-radius: 50%;
    border: 6px solid #F9B742;
    padding: 3px;
}
h1 {
    color: white;
}
.intro {
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.web-description {
    padding: 0%;
    margin-top: -1%;
}
article {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
/* styles for footer and outside links */
footer.outside-links {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-left: 3ch solid #CC3024;
    border-right: 3ch solid #CC3024;
    border-top: .3ch solid #CC3024;
    border-bottom: 1ch solid #CC3024;
}
.outside-links {
    padding: 2ch;
    border: none;
    background-color: #940404;
    overflow: hidden;
}
/* styles for all links */
a:link {
    color:black;
}
a:visited {
    color:purple;
}
a:hover {
    color: blue;
}
/* styles for return to top section */
p.return-top {
    font-size: 20px;
    color:white;
    padding-left: 2ch;
    margin-left: 6ch;
    background-color: #CC3024;
    margin-right: 6ch;
    margin-block-end: 0ch;
    margin-top: 0%;
}